<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE cn.yoouu.mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-cn.yoouu.mapper.dtd">

<cn.yoouu.mapper namespace="cn.yoouu.mapper.UserMapper">
    <select id="getUserList" resultType="cn.yoouu.cn.yoouu.pojo.User">
        select * from mybatis.user;
    </select>

    <select id="getUserById" parameterType="int"
            resultType="cn.yoouu.cn.yoouu.pojo.User">
        select * from mybatis.user where id = #{id};
    </select>

    <select id="getUserLimit" parameterType="map" resultType="cn.yoouu.cn.yoouu.pojo.User">
    select * from mybatis.user limit #{start},#{end}
    </select>

    <insert id="insertUser" parameterType="cn.yoouu.cn.yoouu.pojo.User">
        insert into mybatis.user (id, name, age, address) values (#{id}, #{name}, #{age}, #{address});
    </insert>
</cn.yoouu.mapper>