<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.yoouu.mapper.BlogMapper">
    <insert id="addBlog" parameterType="cn.yoouu.pojo.Blog">
        insert into mybatis.blog (id, title, author, create_time, views) values (#{id}, #{title}, #{author}, #{createTime}, #{views})
    </insert>
    <select id="getBlogIf" parameterType="map" resultType="cn.yoouu.pojo.Blog">
        select * from blog where 1 = 1
<!--        <where></where>-->
        <if test="author != null">
            and author = #{author}
        </if>
    </select>
</mapper>